PKGBUILD
*.xcf

indicatorx.png
indicatorx-1-green.png
indicatorx-2-green.png
indicatorx-3-green.png
indicatorx-4-green.png

indicatorxx.png
indicatorxx-1-green.png
indicatorxx-2-green.png
indicatorxx-3-green.png
indicatorxx-4-green.png
